/* # Base Styles */
body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

button,
input {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
}


.board {
    border: solid 5px #333333;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.grid {
    display: table;
    margin: -3px;
}

.grid-row {
    display: table-row;
}

.grid-cell {
    display: table-cell;
}

.grid-cell:after {
    border: 1px solid #999999;
    border-radius: 3px;
    content: '';
    display: block;
    height: 50px;
    margin: 3px;
    transition: all 400ms ease-out;
    width: 50px;
}


@-webkit-keyframes pulse {

    0%,
    100% {
        box-shadow: 0 0 3px 1px turquoise;
        border-color: #999999;
    }

    50% {
        box-shadow: 0 0 15px 1px turquoise;
        border-color: turquoise;
    }
}

.grid-cell_activePiece:after {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}


.piece {
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.piece_soldier {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.piece_tank {
    height: 20px;
    width: 20px;
}

.piece_scout {
    border: solid 12px transparent;
    border-top-width: 0;
    border-bottom-width: 20px;
}

.ui {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    display: table;
    position: fixed;
    width: 100%;
}

.ui-control {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

.ui-control-button {
    padding: 10px;
}

.ui-control-value {
    font-size: 24px;
}

.mix-ui-control_left { text-align: left; }
.mix-ui-control_center { text-align: center; }
.mix-ui-control_right { text-align: right; }
